## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
w = 10
print(w)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(w))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = 'Willie'

5) Crear una variable que contenga un número complejo

In [5]:
c = 5 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(c))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
import math
v = round(math.pi,4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
T1 = 'True'
T2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(T1))
print(type(T2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
R = 8 + 2.1

11) Realizar una operación de suma de números complejos

In [11]:
c1 = -3+4j
c2 = -5 - 4j
R2 = c1+c2

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
n1 = 2 + 2j
n2 = 3.3
R3 = n1 + n2

13) Realizar una operación de multiplicación

In [13]:
3*4

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
D = 27/4
print(D)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
DE = 27//4
print(DE)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
DR = 27%4
print(DR)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
DE*4 + DR

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
v1 = 'Chao'
v2 = ' lola'
print(v1+v2)

Chao lola

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
# Porque 3,8 usa , como separador de cifra decimal, lo ideal es usar .

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [22]:
y = 3
y-=1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [23]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [24]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [25]:
str(8) + ' veces hola'

'8 veces hola'